[mariadb]
bind-address = 0.0.0.0
port = 3306
socket = /run/mysqld/mysqld.sock
skip-networking = 0

[mysqld]
bind-address = 0.0.0.0
port = 3306
socket = /run/mysqld/mysqld.sock
user = mysql
datadir = /var/lib/mysql
skip-networking = 0

[server]
bind-address = 0.0.0.0
port = 3306
skip-networking = 0